.app {
  width: 100vw;
  height: 100vh;
}
.leaflet-container {
  height: 100vh;
  width: 100%;
}

.content {
  /*display: flex;*/
}

.map {
  overflow: hidden;
}

.menu {
  background-color: transparent;
}
