.leaflet-container {
  height: 100vh;
  width: 100%;
}

.content {
  display: flex;
}

.left-menu {
  background-color: white;
  border-right: 1px solid grey;
  min-width: 300px;
}

.map {
  font-size: large;
  overflow: hidden;
}
